{include="header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Mexico
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
            </h1>
            <p class="help-block">
               Este plugin está en desarrollo. Eres libre de aportar lo que puedas:
               <a href="https://www.facturascripts.com/plugin/mexico" target="_blank">https://www.facturascripts.com/plugin/mexico</a>
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         {if="$fsc->empresa->coddivisa=='MXN'"}
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-success">
            <span class="glyphicon glyphicon-ok"></span> &nbsp;
            Establecer Pesos (MXN) como moneda por defecto
         </a>
         {else}
         <a href="{$fsc->url()}&opcion=moneda" class="btn btn-block btn-default">
            <span class="badge">1</span> &nbsp;
            Establecer Pesos (MXN) como moneda por defecto
         </a>
         {/if}
         <br/>
      </div>
      <div class="col-sm-6">
         {if="$fsc->empresa->codpais=='MEX'"}
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-success">
            <span class="glyphicon glyphicon-ok"></span> &nbsp;
            Establecer México como pais por defecto
         </a>
         {else}
         <a href="{$fsc->url()}&opcion=pais" class="btn btn-block btn-default">
            <span class="badge">2</span> &nbsp;
            Establecer México como pais por defecto
         </a>
         {/if}
         <br/>
      </div>
      <div class="col-sm-6">
         {if="$fsc->impuestos_ok()"}
         <a href="{$fsc->url()}&opcion=iva" class="btn btn-block btn-success">
            <span class="glyphicon glyphicon-ok"></span> &nbsp;
            Añadir impuestos para México
         </a>
         {else}
         <a href="{$fsc->url()}&opcion=impuestos" class="btn btn-block btn-default">
            <span class="badge">3</span> &nbsp;
            Añadir impuestos para México
         </a>
         {/if}
         <br/>
      </div>
      <div class="col-sm-6">
         {if="$fsc->regimenes_ok()"}
         <a href="{$fsc->url()}&opcion=regimenes" class="btn btn-block btn-success">
            <span class="glyphicon glyphicon-ok"></span> &nbsp;
            Establecer regímenes de {#FS_IVA#} para clientes
         </a>
         {else}
         <a href="{$fsc->url()}&opcion=regimenes" class="btn btn-block btn-default">
            <span class="badge">4</span> &nbsp;
            Establecer regímenes de {#FS_IVA#} para clientes
         </a>
         {/if}
         <br/>
      </div>
   </div>
</div>

{include="footer"}